<section class="trainers section-offset" id="trainers">
  <div class="container">
    <h2 class="section-tittle trainers__title">Профессиональные тренеры</h2>
  </div>
  <div class="trainers__wrapper">
    <div class="swiper trainers__content">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="trainers__item">
            <picture>
              <source src="img/svg/trainer-1.webp" type="image/webp">
              <img loading="lazy" src="img/svg/trainer-1.jpg" class="trainers__image" alt="Ирина Лайм" width="360" height="500">
            </picture>
            <div class="trainers__name">Ирина Лайм</div>
            <div class="trainers__post">преподаватель по робототехнике</div>
            <button class="btn-reset trainers__btn" data-graph-path="trainer-1">Подробнее</button>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="trainers__item">
            <picture>
              <source src="img/svg/trainers-2.webp" type="image/webp">
              <img loading="lazy" src="img/svg/trainers-2.jpg" class="trainers__image" alt="Марина Орлова" width="360" height="500">
            </picture>
            <div class="trainers__name">Марина Орлова</div>
            <div class="trainers__post">преподаватель по робототехнике</div>
            <button class="btn-reset trainers__btn" data-graph-path="trainer-1">Подробнее</button>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="trainers__item">
            <picture>
              <source src="img/svg/trainers-3.webp" type="image/webp">
              <img loading="lazy" src="img/svg/trainers-3.jpg" class="trainers__image" alt="Максим Петров" width="360" height="500">
            </picture>
            <div class="trainers__name">Максим Петров</div>
            <div class="trainers__post">преподаватель по программированию</div>
            <button class="btn-reset trainers__btn" data-graph-path="trainer-1">Подробнее</button>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="trainers__item">
            <picture>
              <source src="img/svg/trainers-4.webp" type="image/webp">
              <img loading="lazy" src="img/svg/trainers-4.jpg" class="trainers__image" alt="Константин Назаров" width="360" height="500">
            </picture>
            <div class="trainers__name">Константин Назаров</div>
            <div class="trainers__post">преподаватель по робототехнике</div>
            <button class="btn-reset trainers__btn" data-graph-path="trainer-1">Подробнее</button>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="trainers__item">
            <picture>
              <source src="img/svg/trainers-5.webp" type="image/webp">
              <img loading="lazy" src="img/svg/trainers-5.jpg" class="trainers__image" alt="Лиза Весенняя" width="360" height="500">
            </picture>
            <div class="trainers__name">Лиза Весенняя</div>
            <div class="trainers__post">преподаватель по программированию</div>
            <button class="btn-reset trainers__btn" data-graph-path="trainer-1">Подробнее</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="trainers__nav">
      <div class="swiper-scrollbar trainers__scroll"></div>
      <div class="trainers__btns">
        <button class="btn-reset trainers__slider-btn trainers__slider-btn--prev" aria-label="Перейти к предыдущему слайду"></button>
        <button class="btn-reset trainers__slider-btn trainers__slider-btn--next" aria-label="Перейти к следующему
         слайду"></button>
      </div>
    </div>
  </div>
</section>
